:root{

    --primary-color: hsl(183, 93%, 27%);
    --dark-primary-color: hsl(183, 100%, 20%);
    --background-color: hsl(183, 38%, 90%);

    --text-color: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: verdana, sans-serif;
}


#container{
    height: 100vh;
    width:100%;
    max-width: 450px;
}


#result-container{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color);
    background-color: var(--primary-color);
}
#result{
    font-size: 4rem;
}
#resultUnit{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 1.75rem;
    line-height: 35px;
    text-align: center;
}

#form-container{
    height: 60%;
    padding: 26px 24px 32px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#formHeading{
    font-size: 1.75rem;
    margin-bottom: 42px;
}
label{
    font-size: 1.25rem;
    margin-bottom: 10px;
    display: block;
}

input, select{
    font-size: 1.2rem;
    padding: 7.5px;
    margin-bottom: 42px;
    border: 2px solid hsl(0, 0%, 75%);
}

#input-container{
    width: 100%;
    display: flex;
}
#inputTemperature{
    width: 75%;
}
#temperatureUnit{
    width: 25%;
}

#convertInUnit{
    width: 100%;
}

input:focus{
    border: 2px solid hsl(0, 0%, 75%);

}

button{
    padding: 15px 0;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
}

button:hover{
    background-color: var(--dark-primary-color);
}





